SERVICE_NAME=cart
SERVICE_ENV=local
SERVICE_HTTP_ADDR=:18083
SERVICE_GRPC_ADDR=:19093

POSTGRES_HOST=localhost
POSTGRES_PORT=5435
POSTGRES_DB=cart
POSTGRES_USER=cart
POSTGRES_PASSWORD=cart
POSTGRES_SSLMODE=disable

REDIS_ADDR=localhost:6380

KAFKA_BROKERS=localhost:9092
SCHEMA_REGISTRY_URL=http://localhost:8081

CATALOG_GRPC_ADDR=localhost:19092

AUTH_ACCESS_TOKEN_KEY=local-dev-access-token-key
AUTH_ACCESS_TOKEN_ISSUER=ecom-identity-svc

OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
OTEL_EXPORTER_OTLP_INSECURE=true

LOG_LEVEL=debug
