SERVICE_NAME=cart
SERVICE_ENV=local

POSTGRES_DB=cart
POSTGRES_USER=cart
POSTGRES_PASSWORD=cart
POSTGRES_SSLMODE=disable

AUTH_ACCESS_TOKEN_KEY=local-dev-access-token-key
AUTH_ACCESS_TOKEN_ISSUER=ecom-identity-svc

LOG_LEVEL=debug
