SERVICE_NAME=notification
SERVICE_ENV=local
SERVICE_HTTP_ADDR=:8080
SERVICE_GRPC_ADDR=:9090

POSTGRES_HOST=notification-postgres
POSTGRES_PORT=5432
POSTGRES_DB=notification
POSTGRES_USER=notification
POSTGRES_PASSWORD=notification
POSTGRES_SSLMODE=disable

KAFKA_BROKERS=kafka:9092
SCHEMA_REGISTRY_URL=http://schema-registry:8081

ORDER_EVENTS_ENABLED=true
ORDER_EVENTS_TOPIC=order.events
ORDER_EVENTS_GROUP_ID=notification-svc-order-events-v1
ORDER_EVENTS_POLL_INTERVAL=500ms

OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
OTEL_EXPORTER_OTLP_INSECURE=true

LOG_LEVEL=debug
