SERVICE_NAME=identity-svc
SERVICE_ENV=local
SERVICE_HTTP_ADDR=:18081
SERVICE_GRPC_ADDR=:19091

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=identity
POSTGRES_USER=identity
POSTGRES_PASSWORD=identity
POSTGRES_SSLMODE=disable
POSTGRES_MAX_OPEN_CONNS=25
POSTGRES_MAX_IDLE_CONNS=10
POSTGRES_CONN_MAX_LIFETIME=5m
POSTGRES_CONN_MAX_IDLETIME=1m

AUTH_SESSION_TTL=168h
AUTH_ACCESS_TOKEN_TTL=15m
AUTH_ACCESS_TOKEN_KEY=local-dev-access-token-key
AUTH_ACCESS_TOKEN_ISSUER=ecom-identity-svc

KAFKA_BROKERS=localhost:9092
SCHEMA_REGISTRY_URL=http://localhost:8081

OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
OTEL_EXPORTER_OTLP_INSECURE=true

LOG_LEVEL=debug
